.DS_Store
build.log
build
npm-debug.log
tmp
Resources
/build
/.settings
/.pydevproject
/docs/documentation/
/docs/documentation/**
/dist
/app/assets/iphone/fonts/
/app/assets/android/fonts/

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
